.search-form-container
  .row
    .col-xs-12
      .search-label
        span Search
    .col-xs-12
      .div-form.form-group.no-margin
        input.form-control.search(ng-model="query.q" ng-enter="search(query)")
        .icon.icon-search.icon-search-position
        .filter-search
          .pull-right(ng-click="searchToggle(toggle)" )
            span(ng-class="{'toggle-active': toggle}") Add Filter
  div(ng-show="toggle")
    .filter-options
      .row
        .col-xs-12.col-md-3
          .form-group
            .location
              label.filter-label Service Location
              ui-select(ng-model="query.locations" theme="selectize" ng-change="search(query)")
                ui-select-match(placeholder="Select a location...") {{$select.selected.attributes.name}}
                ui-select-choices(repeat="item.attributes.name as item in loc  | filter: $select.search")
                  span(ng-bind-html="item.attributes.name | highlight: $select.search")
        .col-xs-12.col-md-3
          .form-group
            label.filter-label Availability
            input.form-control.date(
              readonly='true'
              ng-model="query.date"
              single-picker="true"
              date-picker="true"
              limit-legal-age="false"
              prevent-today="true"
              placeholder="Availability..."
              ng-change="search(query)"
            )
    .row.no-margin
      .col-xs-12.reset-filter-container
        .form-group.pull-right
            a(ng-click="reset()") Reset filter
