header(params="header_params")
.header-container.hide-desktop(ng-if="$root.backProfile")
  .header
    img.header-logo(ui-sref="main.intro" ui-sref-opts="{reload: true, inherit: false}" src="/vendor/images/logo.png")
.main-content.vprofile-main
  .content-container
    spinner.animate(ng-if="loading")
    .animate(ng-if="!loading")
      vendor-profile(vendor="vendor" is-fave="isFave()" favorite="favorite()" unfavorite="unfavorite()" is-loggedin="false" show-location="showLocation")
      .hide-mobile
        vendor-list(
        collection="collection"
        title="SUGGESTIONS"
        fave="favoriteVendor(obj)"
        unfave="unfavoriteVendor(obj)"
        fave-list="faveList"
        see-more="/search"
        view-profile="main.vendorprofile"
        is-loggedin="false")
modal#portfolio-modal
  portfolio-modal(caption="vendor.business_name" photos="vendor.photo_urls" count="vendor.photo_urls.length")
  .modal-backdrop